body {
  margin: 0;
  background: radial-gradient(circle at top, #240027, #000);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden;
}

.title {
  margin: 10px 0;
  font-size: 34px;
  color: #ff9ad5;
  text-shadow: 0 0 15px pink;
}

#gameArea {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

/* ÜRƏK */
#heart {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 80px;
  transform: translateX(-50%) scale(1);
  transition: transform 0.3s;
  touch-action: none;
  user-select: none;
}

/* HƏRFLƏR */
.letter {
  position: absolute;
  top: -60px;
  font-size: 42px;
  font-weight: bold;
  color: #ffb6e9;
  text-shadow:
    0 0 10px #ff4fcf,
    0 0 20px #ff4fcf,
    0 0 30px #ff008c;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    top: 100%;
  }
}

#message {
  font-size: 26px;
  color: pink;
  text-shadow: 0 0 10px hotpink;
  margin-bottom: 10px;
}
#progressText {
  font-size: 48px;
  letter-spacing: 15px;
  color: #ffb6e9;
  text-shadow:
    0 0 10px #ff4fcf,
    0 0 25px #ff008c;
  margin-bottom: 10px;
}

/* PARTICLE */
.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: pink;
  border-radius: 50%;
  pointer-events: none;
  animation: explode 1s forwards;
}

@keyframes explode {
  to {
    transform: translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}