html,body{
    margin:0;
    padding:0;
    overflow:hidden;
    background:radial-gradient(circle at top,#2b002b,#000);
    font-family:Arial,Helvetica,sans-serif;
}

#topWord{
    position:fixed;
    top:20px;
    width:100%;
    text-align:center;
    font-size:64px;
    letter-spacing:14px;
    color:#ff4fd8;
    text-shadow:0 0 15px #ff4fd8,0 0 40px #ff4fd8;
    z-index:10;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
}

/* ❤️ ÜRƏK BİRAZ YUXARIDADIR */
#heart{
    position:absolute;
    bottom:90px;
    width:130px;
    left:50%;
    transform:translateX(-50%);
    touch-action:none;
    user-select:none;
}

.letter{
    position:absolute;
    font-size:56px;
    font-weight:900;
    color:white;
    text-shadow:0 0 12px #ff4fd8,0 0 30px #ff4fd8;
    animation:fall linear;
}

@keyframes fall{
    from{transform:translateY(-100px)}
    to{transform:translateY(110vh)}
}

canvas{
    position:fixed;
    inset:0;
    pointer-events:none;
}

/* WIN + LOSE ORTAQ */
#endScreen,
#loseScreen{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.8);
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:50;
}

#loveText,
#loseText{
    font-size:64px;
    color:#fff;
    margin-bottom:30px;
    text-shadow:0 0 15px #ff4fd8,0 0 40px #ff4fd8;
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    0%{transform:scale(1)}
    50%{transform:scale(1.1)}
    100%{transform:scale(1)}
}

#endButtons button{
    font-size:20px;
    padding:12px 30px;
    margin:10px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    background:#ff4fd8;
    color:#000;
    font-weight:bold;
}