html,body{
    margin:0;
    padding:0;
    overflow:hidden;
    background:radial-gradient(circle at top,#2b002b,#000);
    font-family:Arial,Helvetica,sans-serif;
}

#topWord{
    position:fixed;
    top:20px;
    width:100%;
    text-align:center;
    font-size:64px;
    letter-spacing:14px;
    color:#ff4fd8;
    text-shadow:0 0 15px #ff4fd8,0 0 40px #ff4fd8;
    z-index:10;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
}

#heart{
    position:absolute;
    bottom:30px;
    width:130px;
    left:50%;
    transform:translateX(-50%);
    touch-action:none;
}

.letter{
    position:absolute;
    font-size:56px;
    font-weight:900;
    color:white;
    text-shadow:0 0 12px #ff4fd8,0 0 30px #ff4fd8;
    animation:fall linear;
}

@keyframes fall{
    from{transform:translateY(-100px)}
    to{transform:translateY(110vh)}
}

canvas{
    position:fixed;
    inset:0;
    pointer-events:none;
}